<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>New Song</title>
</head>
<body>
	<h2>Add A new song </h2>
	<form action="addSong" method="post">
		<label>Name</label><br>
		<input type="text" name="name">
		<br>
		<label>Artist</label><br>
		<input type="text" name="artist">
		<br>
		<label>Genre</label><br>
		<input type="text" name="genre">
		<br>
		<label>Link</label><br>
		<input type="text" name="link">
		<br>
		<input type="submit" value="add"> 
	</form>
</body>
</html>